<header id="rsvp-output">
  We<span class="red">l</span>come.
</header>

<section id="rsvp-input">
  <textarea id="userInput" cols="30" rows="10"></textarea>
  <button onclick='rsvpFunction()'>Go!</button><br>
</section>

<section id="rsvp-controls">
  WPM: 
  <button id="200" class="wpm">200</button>
  <button id="300" class="wpm">300</button>
  <button id="400" class="wpm">400</button>
  <button id="500" class="wpm">500</button>  
</section>
